body{background-image: url(./img/discord\ htm2\ background.jpg);
  display: flex;
  background-size: 95%;
 background-position-x: 500px;
flex-direction: column;}

.field{display: flex;
       flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13%;}
.join{text-align: center;}